@import url("https://rsms.me/inter/inter.css");
 :root {
	 --size-bezel: 0.5rem;
	 --size-radius: 4px;

}

.from, .to, .price{
	 position: relative;
}
 .from__label{
	 position: absolute;
	 left: 0;
	 top: 0;
	 padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * 0.5);
	 margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * 0.5);
	 background: transparent;
	 white-space: nowrap;
	 transform: translate(0, 0);
	 transform-origin: 0 0;
	 transition: transform 120ms ease-in;
	 font-weight: bold;
	 line-height: 1.2;
}

.to__label, .price__label{
	 position: absolute;
	 left: 0;
	 top: 2.5em;
	 padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * 0.5);
	 margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * 0.5);
	 background: transparent;
	 white-space: nowrap;
	 transform: translate(0, 0);
	 transform-origin: 0 0;
	 transition: transform 120ms ease-in;
	 font-weight: bold;
	 line-height: 1.2;
}


 .from__field,  .to__field {
	 margin-top: 3em;
	 box-sizing: border-box;
	 display: block;
	 width: 60%;
	 border: 3px solid currentColor;
	 padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
	 color: currentColor;
	 background: transparent;
	 border-radius: var(--size-radius);
   border-color: #D9A048;
   outline: unset;
}

.price__field{
	margin-top: 3em;
	 box-sizing: border-box;
	 display: block;
	 width: 30%;
	 border: 3px solid currentColor;
	 padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
	 color: currentColor;
	 background: transparent;
	 border-radius: var(--size-radius);
   border-color: #D9A048;
   outline: unset;
}

label span {
  color: #939393;
}

 .from__field:focus + .from__label, .from__field:not(:placeholder-shown) + .from__label {
	 transform: translate(0.25rem, -65%) scale(0.8);
	 color: #D9A048;
	 background-color: white;
}

.to__field:focus + .to__label, .to__field:not(:placeholder-shown) + .to__label {
	 transform: translate(0.25rem, -65%) scale(0.8);
	 color: #D9A048;
	 background-color: white;
}

.price__field:focus + .price__label, .price__field:not(:placeholder-shown) + .price__label {
	 transform: translate(0.25rem, -65%) scale(0.8);
	 color: #D9A048;
	 background-color: white;
}


fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin-left: -10px;
  margin-top: -10px;
  align-items: flex-start;
  min-width: 400px;
}

.checkbox-container label {
  display: flex;
  flex-direction: row;
  align-items: center;
}



.checkbox-container input {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  margin: 8px;
  box-sizing: content-box;
  overflow: hidden;
}

.checkbox-container input:before {
  content: '';
  display: block;
  box-sizing: content-box;
  width: 16px;
  height: 16px;
  border: 2px solid #ccc;
  transition: 0.2s border-color ease;
}
.checkbox-container input:checked:before {
  border-color: #12CBC4;
  transition: 0.5s border-color ease;
}

.checkbox-container input:after {
  content: '';
  display: block;
  position: absolute;
  box-sizing: content-box;
  top: 50%;
  left: 50%;
  transform-origin: 50% 50%;
  background-color: #12CBC4;
  width: 16px;
  height: 16px;
  border-radius: 100vh;
  transform: translate(-50%, -50%) scale(0);
}
.checkbox-container input[type="radio"]:before {
  border-radius: 100vh;
  border-color: #D9A048;
}
.checkbox-container input[type="radio"]:after {
  width: 16px;
  height: 16px;
  border-radius: 100vh;
  transform: translate(-50%, -50%) scale(0);
}
.checkbox-container input[type="radio"]:checked:after {
  -webkit-animation: toggleOnRadio 0.2s ease forwards;
          animation: toggleOnRadio 0.2s ease forwards;
}
.checkbox-container input[type="checkbox"]:before {
  border-radius: 4px;
  border-color: #D9A048;
}
.checkbox-container input[type="checkbox"]:after {
  width: 9.6px;
  height: 16px;
  border-radius: 0;
  transform: translate(-50%, -85%) scale(0) rotate(45deg);
  background-color: transparent;
  box-shadow: 4px 4px 0px 0px #D9A048;
}
.checkbox-container input[type="checkbox"]:checked:after {
  -webkit-animation: toggleOnCheckbox 0.2s ease forwards;
          animation: toggleOnCheckbox 0.2s ease forwards;
}



@-webkit-keyframes toggleOnCheckbox {
  0% {
    opacity: 0;
    transform: translate(-50%, -85%) scale(0) rotate(45deg);
  }
  70% {
    opacity: 1;
    transform: translate(-50%, -85%) scale(0.9) rotate(45deg);
  }
  100% {
    transform: translate(-50%, -85%) scale(0.8) rotate(45deg);
  }
}

.create-ride {
  background-color: #D9A048;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  outline: none;
  padding: 10px 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-transform: uppercase;
}

.create-ride:hover,
.create-ride:focus {
  background-color: #8C4608;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}