form {
    border: 3px solid #f1f1f1;
    margin: 0 auto 5em;
    max-width: 600px;
    width: 100%;
  }
  
  .search-form label {
    color: #8C4608;
  }
  /* Full-width inputs */
  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #D9A048;
    box-sizing: border-box;
    border-radius: .2em;

  }

  .dateContainer{
    border-color: #D9A048;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #lInput {
    float: left;
    color: #D9A048;

  }

  #lDate{
    float: left;
    color: #D9A048;
    margin-right: .5em;
    align-self: center ;
  }
 
  #lPassenger{
    float: right;
    color: #D9A048;
    margin-right: .8em;
    margin-left: .5em;
    align-self: center ;

  }

  #tDate {
    display: inline-block;
    overflow: hidden;
    padding: 8px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid #D9A048;
    box-sizing: border-box;
    border-radius: .2em; 
  
  }

  
  /* Set a style for all buttons */
  button {
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #D9A048;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    border-radius: .2em;
  }
  
  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }
  
  
  #whereLbl {
    text-align: center;
    margin: 24px 0 12px 0;
    color: #8C4608;
  }


  
  .value-button {
    display: inline-block;
    width: 40px;
    border-radius: 12em;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    padding: 11px 0;
    background: transparent;
    text-align: center;
    color: #D9A048;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  .value-button:hover {
    cursor: pointer;
  }
  
 
  input#number {
    text-align: center;
    border: none;
    background-color: transparent;
    width: 40px;
    height: 40px;
  }
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }
  
  /* Add padding to containers */
  .form-container {
    padding: 16px;
  }
  
  span.to {
    float: right;
    padding-top: 16px;
  }

.search-passengers {
  margin: 0.5em 0;
}
  
.value-button {
  border: unset;
  background-color: #D9A048;
  color: #fff;
  height: 2.5em;
}

@media (max-width: 800px) {
  .dateContainer {
    flex-wrap: wrap;
    justify-content: left;
  }

  #lPassenger, #lDate {
    display: block;
    width: 100%;
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.to {
    display: block;
    float: none;
  }
}