* {
    font-family: 'Montserrat', Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h1,
h2 {
    text-transform: uppercase;
}

h1,
p {
    margin: 0;
    color: #707070;
}

p {
    line-height: 2;
}

.wrapper {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 0.5em;
    width: 100%;
}

.clean-ul li {
    display: inline-block;
}

header.wrapper {
    display: flex;
    justify-content: space-between; 
    padding-bottom: 1em;
    padding-top: 1em;   
}

.logo {
    width: 10em;
}

.header-ul {
    padding-left: 0;
    align-items: center;
    display: flex;
    flex-direction: row;
}


.header-ul a {
    color: #8C4608;
    padding: 0 0.5em;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.header-ul a:hover {
    color: #D9A048;
}

nav {
    background-color: #D9A048;
    width: 100%;
    box-shadow: 0 1em 1em 0.1em rgba(0, 0, 0, 0.2);
}

.nav-ul li {
    margin-right: 1em;
}

.nav-ul a {
    display: block;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1.5em 0.5em;
    transition: background-color 0.3s ease-in-out;
}

.nav-ul a:hover {
    background-color: #8C4608;
}

footer {
    background-color: #D9A048;
    padding: 1.5em 0;
}

footer p {
    color: #fff;
}

main {
    display: block;
    margin: 5em 0;
    min-height: calc(100vh - 236.27px);
}

.overlay {
    background-color: #8C4608;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
    position: absolute;
    width: 100%;
}

.col-half {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

.bottom-push {
    margin-bottom: 4em;
}

@media (max-width: 800px) {
    nav {
        position: fixed;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100vh;
        transition: left 0.5s ease-in-out;
        z-index: 10;
    }

    nav.active {
        left: 0;
    }

    .nav-ul li {
       display: block;
       width: 100%;
    }
}