.ride, .trip{
  margin-top: 2em;
  padding: 1rem;
  width: 1ew;
  height: 1ew;
  box-shadow: 0 15px 30px 0 rgba(0,0,0,0.11),
    0 5px 15px 0 rgba(0,0,0,0.08);
  background-color: #ffffff;
  border-radius: 0.5rem;
  border: 2px solid #D9A048;
  transition: border-left 300ms ease-in-out, padding-left 300ms ease-in-out;
}



.ride:hover {
  padding-left: 0.5rem;
  border-left: 0.5rem solid #8C4608;
}

.trip:hover {
  padding-left: 0.5rem;
  border-left: 0.5rem solid #D9A048;
}

.ride > :first-child, .trip>:first-child{
  margin-top: 0;
}

.ride > :last-child, .trip>:last-child{
  margin-bottom: 0;
}

.ride:last-of-type {
  margin-bottom: 2em;
}

.heading {
  color: #fff;
}

p{
	font-size: 14px;
}

button {
  background-color: #D9A048;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  outline: none;
  padding: 10px 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-transform: uppercase;
}

button:hover,
button:focus {
  background-color: #8C4608;
}