@import url("https://rsms.me/inter/inter.css");
 :root {
	 --size-bezel: 0.5rem;
	 --size-radius: 4px;

}

* {
    font-family: 'Montserrat', Helvetica, sans-serif;
}

body {
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.wrapper {
    margin: 0 auto;
    max-width: 1440px;
    padding: 0 0.5em;
    width: 100%;
}

.clean-ul li {
    display: inline-block;
}

header.wrapper {
    display: flex;
    justify-content: space-between; 
    padding-bottom: 1em;
    padding-top: 1em;   
}

.logo {
    width: 10em;
}

.header-ul {
    padding-left: 0;
    align-items: center;
    display: flex;
    flex-direction: row;
}


.header-ul a {
    color: #8C4608;
    padding: 0 0.5em;
    text-transform: uppercase;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.header-ul a:hover {
    color: #D9A048;
}

nav {
    background-color: #D9A048;
    width: 100%;
    box-shadow: 0 1em 1em 0.1em rgba(0, 0, 0, 0.2);
}

.nav-ul li {
    margin-right: 1em;
}

.nav-ul a {
    display: block;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1.5em 0.5em;
    transition: background-color 0.3s ease-in-out;
}

.nav-ul a:hover {
    background-color: #8C4608;
}

footer {
    background-color: #D9A048;
    padding: 1.5em 0;
}

footer p {
    color: #fff;
}

main {
    display: block;
    margin: 5em 0;
    min-height: calc(100vh - 236.27px);
}
  
#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
  #myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
  }